In [ ]:
tos estructurados de pyhton
1. Listas
2. tuplas
3. diccionarios
4. conjunto (opcional)

#Listas
- Tipo de dato que agrupa variables o valores
- Estrucrura secuencial (indexados empezando con 0)
- se declara de dos formas#
      - usando []
      - usando list()
      - usando un generador
- puede contener tipos de datos diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionasn con []
- Soporta slicing
- son MUTABLES
- GENERADORES [var for x in range]
- al ser una clase contine muchos metodos utiles

In [25]:
numeros= [10, 5, 9, 78, 6, 4]
print(numeros)
numeros2.append(2)
numeros2.append(9)
numeros2.append(87)
numeros2.append(3)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[-1] = 33
numeros.append(88)
print(numeros)

[10, 5, 9, 78, 6, 4]
[2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3]
[10, 5, 20, 78, 6, 4]
[10, 5, 20, 78, 6, 33, 88]

In [26]:
#tipos diversos
cosas= [12, 3, False, "Manuel", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1])
print( cosas[4])
print( cosas[5])
print( cosas[5][1])
print( cosas[3][1:3:])
cosas[3]= cosas[3].upper()
print(cosas)

[12, 3, False, 'Manuel', 1.57, ['pera', 'kiwi', 'uva']]
3
1.57
['pera', 'kiwi', 'uva']
kiwi
an
[12, 3, False, 'MANUEL', 1.57, ['pera', 'kiwi', 'uva']]

In [39]:
numeros=[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#1.- 4 al 8
print(numeros[3:8])
#2.- [9,10]
print(numeros[8:10])
#3.- imprimir la lista en orden inverso [11,10,9....]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
#crear una lista con un generador
numeros=[x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#funcion range()
tiene los mismos componentes que slicing 
ini, stop, incremento
range(1,101,1)

In [44]:
numeros=[x for x in range(50,101,2)]
print(numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# metodos disponibles de las listas

In [45]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
numeros= [4,7,2,6,43,1,7,45,23]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
print(numeros)
colores= ["rojo", "azul", "verde"]
copia= colores
print(colores)
print(copia)
colores.append("amarillo")
print(colores)
print(copia)
print("numero de veces que aparece el 15= ", numeros.count(15))
#extend
nombres= ["Manuel", "Jose", "Karina","Josue","diana"]
otrosNombres= ["Pedro", "Karla"]
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el metodo extend
otrosNombres.extend(["jesus", "maria","jose"])
print(otrosNombres)
print("jesus esta en la posicion:", otrosNombres.index("jesus"))
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)
#pop
resultado= otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 7, 2, 6, 43, 1, 7, 45, 23]
[4, 7, 2, 6, 43, 1, 7, 45, 23, 99]
[4, 7, 2, 6, 43, 1, 7, 45, 23, 99]
['rojo', 'azul', 'verde']
['rojo', 'azul', 'verde']
['rojo', 'azul', 'verde', 'amarillo']
['rojo', 'azul', 'verde', 'amarillo']
numero de veces que aparece el 15=  0
['Manuel', 'Jose', 'Karina', 'Josue', 'diana']
['Pedro', 'Karla']
['Manuel', 'Jose', 'Karina', 'Josue', 'diana', 'Pedro', 'Karla']
['Pedro', 'Karla']
['Pedro', 'Karla', 'jesus', 'maria', 'jose']
jesus esta en la posicion: 2
['Pedro', 'Karla', 'jesus', 'maria', 'espiritu santo', 'jose']
['Pedro', 'Karla', 'jesus', 'maria', 'espiritu santo']
jose