In [ ]:
Datos estructurados de pyhton
1. Listas
2. tuplas
3. diccionarios
4. conjunto (opcional)

#Listas
- Tipo de dato que agrupa variables o valores
- Estrucrura secuencial (indexados empezando con 0)
- se declara de dos formas#
      - usando []
      - usando list()
      - usando un generador
- puede contener tipos de datos diversos (En otros lenguajes de prog. eso no es posible de forma directa)
- Los elementos internos se seleccionasn con []
- Soporta slicing
- son MUTABLES
- GENERADORES [var for x in range]
- al ser una clase contine muchos metodos utiles

In [ ]:
numeros= [10, 5, 9, 78, 6, 4]
print(numeros)
numeros2.append(2)
numeros2.append(9)
numeros2.append(87)
numeros2.append(3)
print(numeros2)
numeros[2] = 20
print(numeros)
numeros[-1] = 33
numeros.append(88)
print(numeros)

[10, 5, 9, 78, 6, 4]
[2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3, 2, 9, 87, 3]
[10, 5, 20, 78, 6, 4]
[10, 5, 20, 78, 6, 33, 88]

In [ ]:
#tipos diversos
cosas= [12, 3, False, "Manuel", 1.57, ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1])
print( cosas[4])
print( cosas[5])
print( cosas[5][1])
print( cosas[3][1:3:])
cosas[3]= cosas[3].upper()
print(cosas)

[12, 3, False, 'Manuel', 1.57, ['pera', 'kiwi', 'uva']]
3
1.57
['pera', 'kiwi', 'uva']
kiwi
an
[12, 3, False, 'MANUEL', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#1.- 4 al 8
print(numeros[3:8])
#2.- [9,10]
print(numeros[8:10])
#3.- imprimir la lista en orden inverso [11,10,9....]
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#crear una lista con un generador
numeros=[x*3 for x in range(101)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#funcion range()
tiene los mismos componentes que slicing 
ini, stop, incremento
range(1,101,1)

In [ ]:
numeros=[x for x in range(50,101,2)]
print(numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros= [4,7,2,6,43,1,7,45,23,15]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
print(numeros)
colores= ["rojo", "azul", "verde"]
copia= colores
print(colores)
print(copia)
colores.append("amarillo")
print(colores)
print(copia)
print("numero de veces que aparece el 15= ", numeros.count(15))
#extend
nombres= ["Manuel", "Jose", "Karina","Josue","diana"]
otrosNombres= ["Pedro", "Karla"]
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el metodo extend
otrosNombres.extend(["jesus", "maria","jose"])
print(otrosNombres)
print("jesus esta en la posicion:", otrosNombres.index("jesus"))
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)
#pop
resultado= otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 7, 2, 6, 43, 1, 7, 45, 23, 15]
[4, 7, 2, 6, 43, 1, 7, 45, 23, 15, 99]
[4, 7, 2, 6, 43, 1, 7, 45, 23, 15, 99]
['rojo', 'azul', 'verde']
['rojo', 'azul', 'verde']
['rojo', 'azul', 'verde', 'amarillo']
['rojo', 'azul', 'verde', 'amarillo']
numero de veces que aparece el 15=  1
['Manuel', 'Jose', 'Karina', 'Josue', 'diana']
['Pedro', 'Karla']
['Manuel', 'Jose', 'Karina', 'Josue', 'diana', 'Pedro', 'Karla']
['Pedro', 'Karla']
['Pedro', 'Karla', 'jesus', 'maria', 'jose']
jesus esta en la posicion: 2
['Pedro', 'Karla', 'jesus', 'maria', 'espiritu santo', 'jose']
['Pedro', 'Karla', 'jesus', 'maria', 'espiritu santo']
jose

#----------------------9 de noviembre 2021------------------------------

# Tuplas
###Caracteristicas
- Datos agrupados 
- Se declara usando
    - ()
    - tuple()
- Es una estructura secuencial, indexada a partir de 0
- Pueden tener de 0 a n elementos
- No son mutables (no se puede eliminnar y/o cambiar)
- Son buenas para lamacenar informacion de consulta
- Pueden almacenar información de diferentes tipos de datos
- Pueden estar anidadas
- Tienen metodos útiles

In [ ]:
info = ("Manuel23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
numeros=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])
cosas=(info,numeros)
print(cosas)
print(cosas[1][5:11])
print(cosas[0][2][4:7])

('Manuel23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('Manuel23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Métodos de las tuplas
Son los mismos de las listas pero los que no involucren mutabilidad

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Caracteristicas 
- Agrupan datos pero de forma no lineal
- Se declaran con:
    - {}
    - dict()
- Formado por pares del tipo llave: valor
- Donde por pares del tipo llave:valor, donde:
    - llave es de tipo string (siempre)
    - valor puede ser de cualquier tipo de datos, incluyendo los diccionarios
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje Javascript (JS)

In [ ]:
alumno= {"nombre":"jose"}
print(alumno)
print(alumno["nombre"])
alumno={"nombre":"Manuel", "nc":"319331543", "edad":"18"}
print("la edad del alumno =",alumno["edad"])
print(alumno["nombre"].upper())

alumno2= dict()
alumno2["nombre"]= "Pedro"
print(alumno2)
alumno2["nc"]=12345678
alumno2["edad"]=23
print(alumno2)
alumno2["edad"]=alumno2["edad"]+1
print(alumno2)

{'nombre': 'jose'}
jose
la edad del alumno = 18
MANUEL
{'nombre': 'Pedro'}
{'nombre': 'Pedro', 'nc': 12345678, 'edad': 23}
{'nombre': 'Pedro', 'nc': 12345678, 'edad': 24}

In [1]:
cliente={"id":"CT12",
         "nombre":"jose Pedroza Rosales",
         "telefono":"casa:5546374698 cel:5512472843"}
print(cliente)
cliente = { "id":"CT2121" ,
            "nombre" : {
                "nombres" : ["José", "Eduardo"],
                "paterno" : "Pedroza",
                "materno" : "Rosales"
            } ,
            "telefonos" : {
                "casa" : "55-6632-4234",
                "trabajo":"55-443-3232" ,
                "celular":"044-55-234234"
            } ,
           "productos":{
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.5 },
               "tarjetas":[
                            {"tipo":"debito" , "saldo" : 10000.5  },
                            {"tipo":"credito preferente" , "limite":250000.5},
                            {"tipo":"lite" , "limite": 15000.5 }
                ]
           },
           "direccion":{
               "calle":"Av. central",
               "numero" : 1245,
               "colonia" :"Impulsora",
               "delegacion" :"neza",
               "estado" : {
                            "clave" : 15,
                           "nombre_corto":"EdoMex",
                           "nombre": "Estado de México"
                            }
           }

            }
print( cliente["telefonos"]["casa"] )
print(cliente)
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())

{'id': 'CT12', 'nombre': 'jose Pedroza Rosales', 'telefono': 'casa:5546374698 cel:5512472843'}
55-6632-4234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '55-6632-4234', 'trabajo': '55-443-3232', 'celular': '044-55-234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
15000.5
ESTADO DE MÉXICO

#11 de noviembre 2021

In [5]:
cliente = { "id":"CT2121" ,
            "nombre" : {
                "nombres" : ["José", "Eduardo"],
                "paterno" : "Pedroza",
                "materno" : "Rosales"
            } ,
            "telefonos" : {
                "casa" : "55-6632-4234",
                "trabajo":"55-443-3232" ,
                "celular":"044-55-234234"
            } ,
           "productos":{
               "ahorro":{ "numero_cuenta":"7788" , "ahorro": 2500.5 },
               "tarjetas":[
                            {"tipo":"debito" , "saldo" : 10000.5  },
                            {"tipo":"credito preferente" , "limite":250000.5},
                            {"tipo":"lite" , "limite": 15000.5 }
                ]
           },
           "direccion":{
               "calle":"Av. central",
               "numero" : 1245,
               "colonia" :"Impulsora",
               "delegacion" :"neza",
               "estado" : {
                            "clave" : 15,
                           "nombre_corto":"EdoMex",
                           "nombre": "Estado de México"
                            }
           }

            }
print( cliente["telefonos"]["casa"] )
print(cliente)
print(cliente["productos"]["tarjetas"][2]["limite"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"]-=1500

55-6632-4234
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '55-6632-4234', 'trabajo': '55-443-3232', 'celular': '044-55-234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
15000.5
ESTADO DE MÉXICO
{'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '55-6632-4234', 'trabajo': '55-443-3232', 'celular': '044-55-234234'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'Impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}

In [48]:
HTYD={
    "protagonistas":{"Hipo":{"actor de doblaje":"Jay Baruchel"},
                     "Astrid":{"actor de doblaje":"America Ferrera"},
                     "Patan":{"actor de doblaje":"Johan Hill"},
                     "Patapez":{"actor de doblaje":"Cristopher Mintz"}
                     }
    }
print(HTYD)

{'protagonistas': {'Hipo': {'actor de doblaje': 'Jay Baruchel'}, 'Astrid': {'actor de doblaje': 'America Ferrera'}, 'Patan': {'actor de doblaje': 'Johan Hill'}, 'Patapez': {'actor de doblaje': 'Cristopher Mintz'}}}

#Estructuras de control de programacion

Se puede crear cualquier tipo de añgoritmo empleando solamente 3 estructuras de control
1. secuencia
    - La representacion de la memoria de programa (Arquitectura de vonn Newman)
2. Selección
    - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permita seleccionar, ejecutar un bloque entre un conjunto de opciones.
    En resumen tenemos: Seleccion simple, selleccion con bifurcación y seleccion múltiple
3. Repeticion
    - Este tipo de estructura nos permite automatizar, la ejecucion repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programación:
        - Desde... hasta (estructura for)
        - Haz mientras (estructura while)
        - Haz y luego valida mientras (estructura do-while)

#seleccion simple
la estructura if

#if(condicion:)
(cuerpo del IF)
**nota** para establecer el cuerpo de una estructura de control en phyton se usan los tabuladores a la izq

In [29]:
edad=int(input("dame tu edad"))
print(f"tecleaste {edad} años")
if edad >=18:
  print("eres mayorde edad")
print("algo")
print("fin del proceso")

dame tu edad12
tecleaste 12 años
algo
fin del proceso

In [40]:
CAL=float(input("dame tu calificaion"))
if CAL >8:
  print("Aprobado")
print("fin del programa")

dame tu calificaion78
Aprobado
fin del programa

In [47]:
SUE=float(input("cuanto ganas"))
if SUE<1000 :
  AUM=SUE* 0.15
  NSUE=SUE + AUM
  print(NSUE)
print("fin del programa")

cuanto ganas875
1006.25
fin del programa